<footer>
  <p>
    Ein Projekt von <a class="text-purple-500" href="https://henningschumann.org">Henning Schumann</a>.
  </p>
  <p>
     Die Daten stammen aus dem Excel-Sheet des <a class="text-purple-500" href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Impfquoten-Tab.html">digitalen Impfquotenmonitoring des RKIs</a>. 
  </p>
  <p>
    <a class="text-purple-500" href="https://github.com/hng/rki-impfungen">Github</a>
  </p>
</footer>
